html, body {
  margin: 0px;
}

canvas {
  display: block;
}

canvas:active {
  background-color: red; 
}

canvas:focus {
  background-color: red; 
}

#scenery {
/*   background: url(../img/scenery.png); */
  background-size: cover;
}


