html, body {
  margin: 0px;
}

canvas {
  display: block;
  -webkit-tap-highlight-color rgba(0,0,0,0);

}

#scenery {
  background: url(../img/scenery.png);
  background-size: cover;
}

-webkit-tap-highlight-color rgba(0,0,0,0);
